{% extends 'base.html' %}

{% block title %} Create a Contact {% endblock %}

{% block header %}
    <h3>Create a contact</h3>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="card mt-3">
                <div class="card-body">
                    <form action="" method="post">
                       {{ form.csrf_token }}

                       {{ form.first_name.label }}
                       {{ form.name(class='form-control', placeholder='Enter Name') }}

                       {{ form.last_name.label }}
                       {{ form.last_name(class='form-control', placeholder='Enter last name') }}

                       {{ form.phone_number.label }}
                       {{ form.phone_number(class='form-control', placeholder='Enter phone number') }}

                       {{ form.address.label }}
                       {{ form.address(class='form-control', placeholder='Enter address') }}

                       {{ form.submit(class='btn btn-outline-primary w-100 mt-3') }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}