{% extends 'base.html' %}

{% block title %}
  <h4>Address Book</h4>
{% endblock%}

{% block content %}
  <div class="row gy-25">
    <div class="card mt-3 bg-secondary-subtle border-primary">
        <div class="card-header"><strong>Look up for Contact</strong></div>
        <div class="card-body">
            <form action="">
                <div class="input-group">
                    <input type="text" class="form-control text-muted" placeholder="Search for a contact...">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
    </div>
    </div>
    <div class="row">
    <a href={{url_for('addcontact')}} class="btn btn-subtle btn-md active my-5" role="button" aria-pressed="true"><b>Search</b></a>
    </div>
   
{% endblock%}